:root {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #121212;
  text-align: center;
}

header {
  margin-top: 20%;
}

.Main {
  margin: 0;
  position: relative;
  text-align: center;
}

.Main {
  color: #FFF;
}

.Main h1 {
  font-size: 187.5%;
  font-weight: normal;
}

.navCont {
  height: 50%;
  left: 25%;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: center;
  width: 52%;
}

.navCont a {
  color: #FFF;
  display: inline-block;
  float: none;
  margin-right: 2em;
  text-align: center;
  transition: all 0.3s ease;
}

.navCont a {
  margin-top: 2%;
}

.navCont img {
  filter: invert(5%) sepia(4%) saturate(340%) hue-rotate(312deg) brightness(96%) contrast(89%);
  height: 2em;
  position: relative;
  width: 2em;
}

.navCont a:hover {
  transform: scale(1.2);
}

.navCont span {
  color: #;
  display: block;
  font-size: 125%;
  padding-top: 1.2%;
}


@media screen and (max-width: 600px) {
  header {
    margin-top: 20%;
  }

  .navCont {
    left: 25%;
  }

  .navCont a {
    color: white;
    display: inline-block;
    font-size: 100%;
    padding: 3% 0;
    padding-right: 8%;
    text-align: center;
    transition: all 0.3s ease;
    width: 20%;
  }

  .navCont span {
    color: #fff;
    display: block;
    font-size: 20px;
    height: 32%;
    margin-top: 0;
    padding-top: 5px;
    position: relative;
  }

}
