header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1em 0;
}

header .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
  font-size: 1.5rem;

  /* Otherwise header and menu is too close on small screens*/
  margin-bottom: 5px;
}
