{% extends "base.html" %} {% block content %}
<div id="landing">
  <div id="pfp-container">
    <img src="images/pfp.png" alt="Serial-ATA profile picture" />
  </div>
  <h2 id="author">{{ config.author }} ({{config.extra.real_name}})</h2>
  <pre id="bio">{{ config.extra.bio }}</pre>
  <div id="socials-container">
    {% for social in config.extra.socials %}
    <a class="social-link" href="{{ social.url }}">
      <img
        class="social"
        src="images/social/{{ social.icon }}"
        alt="{{ social.name }}"
      />
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
