{% extends "base.html" %}
{% block content %}

<div id="projects-container">
  {% for project in section.pages %}
    {% if project.extra.end_date is undefined %}
      <div class="project-card">
        <a class="card-link" href="{{ project.permalink }}">
          {% if project.extra.logo %}
            <img class="project-icon" src="/images/projects/{{ project.extra.logo }}" alt="{{ project.title }} logo" />
          {% else %}
            <div class="project-icon-placeholder"></div>
          {% endif %}
          <div class="project-card-text">
            <h3 class="project-name">{{ project.title }}</h3>
            {% if project.extra.start_date %}
              <span class="project-date">
                <em>
                  {{ project.extra.start_date }} - Present
                </em>
              </span>
            {% endif %}
            <p class="project-description">{{ project.description }}</p>
          </div>
        </a>
        {% if project.extra.socials %}
        <div class="project-links">
          {% for platform, url in project.extra.socials %}
            <a href="{{ url }}">
              <img class="social" src="/images/social/{{ platform }}.svg" alt="{{ platform }}" />
            </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
  {% endfor %}

  {% for project in section.pages %}
    {% if project.extra.end_date is defined %}
      <div class="project-card">
        <a class="card-link" href="{{ project.permalink }}">
          {% if project.extra.logo %}
            <img class="project-icon" src="/images/projects/{{ project.extra.logo }}" alt="{{ project.title }} logo" />
          {% else %}
            <div class="project-icon-placeholder"></div>
          {% endif %}
          <div class="project-card-text">
            <h3 class="project-name">{{ project.title }}</h3>
            {% if project.extra.start_date %}
              <span class="project-date">
                <em>
                  {{ project.extra.start_date }} - {{ project.extra.end_date }}
                </em>
              </span>
            {% endif %}
            <p class="project-description">{{ project.description }}</p>
          </div>
        </a>
        {% if project.extra.socials %}
        <div class="project-links">
          {% for platform, url in project.extra.socials %}
            <a href="{{ url }}">
              <img class="social" src="/images/social/{{ platform }}.svg" alt="{{ platform }}" />
            </a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endif %}
  {% endfor %}
</div>

{% endblock content %}
