{% extends "base.html" %} {% block content %}
<div id="landing">
  <div id="projects-container">
    <!-- Lofty -->
    <div class="project-container">
      <div class="project-name-container">
        <img
          class="project-icon"
          src="images/projects/lofty.svg"
          alt="Lofty icon"
        />
        <h3 class="project-name">Lofty</h3>
        <div class="project-links">
          <a href="https://github.com/Serial-ATA/lofty-rs">
            <img class="social" src="images/social/github.svg" alt="GitHub" />
          </a>
          <a href="https://crates.io/crates/lofty">
            <img
              class="social"
              src="images/social/crates.svg"
              alt="Crates.io"
            />
          </a>
          <a href="https://docs.rs/lofty">
            <img class="social" src="images/social/docsrs.svg" alt="Docs.rs" />
          </a>
        </div>
      </div>
      <span class="project-date"><em>Dec 2020 - Present</em></span>
      <pre class="project-description">
An audio metadata library written in Rust that supports all major audio formats (MP3, FLAC, WAV, and more). It is currently used in 400+ public projects, with 300k+ direct downloads.
            </pre
      >
    </div>

    <!-- JVM -->
    <div class="project-container">
      <div class="project-name-container">
        <h3 class="project-name">JVM</h3>
        <div class="project-links">
          <a href="https://github.com/Serial-ATA/jvm">
            <img class="social" src="images/social/github.svg" alt="GitHub" />
          </a>
        </div>
      </div>
      <span class="project-date"><em>Oct 2022 - Present</em></span>
      <pre class="project-description">
An implementation of the Java Virtual Machine, Java SE 23 Edition.

This is an attempt at creating a low dependency Java virtual machine and accompanying tools from scratch. This includes a Java runtime, JIT compiler, and cli tools for manipulating JImage and JMod files.
            </pre
      >
    </div>

    <!-- lyr -->
    <div class="project-container">
      <div class="project-name-container">
        <h3 class="project-name">lyr</h3>
        <div class="project-links">
          <a href="https://github.com/Serial-ATA/lyr">
            <img class="social" src="images/social/github.svg" alt="GitHub" />
          </a>
          <a href="https://crates.io/crates/lyr">
            <img
              class="social"
              src="images/social/crates.svg"
              alt="Crates.io"
            />
          </a>
        </div>
      </div>
      <span class="project-date"><em>Jul 2022 - Jan 2023</em></span>
      <pre class="project-description">
A tool to download and embed lyrics from multiple sources.
            </pre
      >
    </div>
  </div>
</div>
{% endblock content %}
